html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("Currency-converter.jpg");
}

.container {
  padding: 20px;
  max-width: 1000px;
  width: 100%;
}